extends layout/layout
include ./mixins/item
block main 
    - var title = "Заголовок секция";
    h4=title 
    + item("./assets/img/cats", "Заголовок <b>наш<b>")
    + item("./", "Заголовок2")
    + item("./", "Заголовок3")





        

        

